# Python
__pycache__/
*.py[cod]
venv/

# Environment variables
.env
.env.local

# Docker
**/node_modules/
**/dist/

# IDE
.vscode/
.idea/
# Добавьте удалённый репозиторий
git remote add origin https://github.com/ваш-логин/microservices_calc.git

# Загрузите код
git push -u origin main